myVisualCore/Connected Services/ServicioDelCore/CoreWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://google.com" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://google.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://google.com">
      <s:import namespace="http://tempuri.org/WebCoreDataSet.xsd" />
      <s:import schemaLocation="https://localhost:44311/CoreWebService.asmx?schema=WebCoreDataSet" namespace="http://tempuri.org/WebCoreDataSet.xsd" />
      <s:element name="WCLog">
        <s:complexType />
      </s:element>
      <s:element name="WCLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertCajero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCCajero" type="tns:WCCajero" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCCajero">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cjr_codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cjr_cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cjr_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cjr_apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cjr_telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cjr_direccion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCajeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCajeroResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCCliente" type="tns:WCCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="clt_codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clt_cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clt_nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clt_apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clt_telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clt_direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="clt_saldo" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCProducto" type="tns:WCProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCProducto" type="tns:WCServicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCServicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertServicioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCFactura" type="tns:WCFactura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCFactura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cotizacion" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="metodoPago" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cjrCodigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cltCodigo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertFacturaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFct_Prod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCFct_Prod" type="tns:WCFct_Prod" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCFct_Prod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fctCodigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prodCodigo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="precioUnidad" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertFct_ProdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertFct_ProdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFct_Serv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_WCFct_Serv" type="tns:WCFct_Serv" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WCFct_Serv">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fctCodigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servCodigo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="precioUnidad" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertFct_ServResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertFct_ServResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectProductos">
        <s:complexType />
      </s:element>
      <s:element name="SelectProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectProductosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/WebCoreDataSet.xsd" name="namespace" />
                <s:attribute fixed="PRODUCTODataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigo_in" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave_in" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/WebCoreDataSet.xsd" name="namespace" />
                <s:attribute fixed="USUARIODataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="SelectUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/WebCoreDataSet.xsd" name="namespace" />
                <s:attribute fixed="USUARIODataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WCLogSoapIn">
    <wsdl:part name="parameters" element="tns:WCLog" />
  </wsdl:message>
  <wsdl:message name="WCLogSoapOut">
    <wsdl:part name="parameters" element="tns:WCLogResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCajeroSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCajero" />
  </wsdl:message>
  <wsdl:message name="InsertCajeroSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCajeroResponse" />
  </wsdl:message>
  <wsdl:message name="InsertClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCliente" />
  </wsdl:message>
  <wsdl:message name="InsertClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertClienteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProductoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProducto" />
  </wsdl:message>
  <wsdl:message name="InsertProductoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProductoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertServicioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertServicio" />
  </wsdl:message>
  <wsdl:message name="InsertServicioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertServicioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFactura" />
  </wsdl:message>
  <wsdl:message name="InsertFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFct_ProdSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFct_Prod" />
  </wsdl:message>
  <wsdl:message name="InsertFct_ProdSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFct_ProdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFct_ServSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFct_Serv" />
  </wsdl:message>
  <wsdl:message name="InsertFct_ServSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFct_ServResponse" />
  </wsdl:message>
  <wsdl:message name="SelectProductosSoapIn">
    <wsdl:part name="parameters" element="tns:SelectProductos" />
  </wsdl:message>
  <wsdl:message name="SelectProductosSoapOut">
    <wsdl:part name="parameters" element="tns:SelectProductosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="BuscarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUsuarios" />
  </wsdl:message>
  <wsdl:message name="SelectUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="CoreWebServiceSoap">
    <wsdl:operation name="WCLog">
      <wsdl:input message="tns:WCLogSoapIn" />
      <wsdl:output message="tns:WCLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCajero">
      <wsdl:input message="tns:InsertCajeroSoapIn" />
      <wsdl:output message="tns:InsertCajeroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <wsdl:input message="tns:InsertClienteSoapIn" />
      <wsdl:output message="tns:InsertClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProducto">
      <wsdl:input message="tns:InsertProductoSoapIn" />
      <wsdl:output message="tns:InsertProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertServicio">
      <wsdl:input message="tns:InsertServicioSoapIn" />
      <wsdl:output message="tns:InsertServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFactura">
      <wsdl:input message="tns:InsertFacturaSoapIn" />
      <wsdl:output message="tns:InsertFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFct_Prod">
      <wsdl:input message="tns:InsertFct_ProdSoapIn" />
      <wsdl:output message="tns:InsertFct_ProdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFct_Serv">
      <wsdl:input message="tns:InsertFct_ServSoapIn" />
      <wsdl:output message="tns:InsertFct_ServSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductos">
      <wsdl:input message="tns:SelectProductosSoapIn" />
      <wsdl:output message="tns:SelectProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input message="tns:BuscarUsuarioSoapIn" />
      <wsdl:output message="tns:BuscarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUsuarios">
      <wsdl:input message="tns:SelectUsuariosSoapIn" />
      <wsdl:output message="tns:SelectUsuariosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoreWebServiceSoap" type="tns:CoreWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WCLog">
      <soap:operation soapAction="http://google.com/WCLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCajero">
      <soap:operation soapAction="http://google.com/InsertCajero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <soap:operation soapAction="http://google.com/InsertCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProducto">
      <soap:operation soapAction="http://google.com/InsertProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServicio">
      <soap:operation soapAction="http://google.com/InsertServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFactura">
      <soap:operation soapAction="http://google.com/InsertFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFct_Prod">
      <soap:operation soapAction="http://google.com/InsertFct_Prod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFct_Serv">
      <soap:operation soapAction="http://google.com/InsertFct_Serv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductos">
      <soap:operation soapAction="http://google.com/SelectProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://google.com/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUsuarios">
      <soap:operation soapAction="http://google.com/SelectUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoreWebServiceSoap12" type="tns:CoreWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WCLog">
      <soap12:operation soapAction="http://google.com/WCLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCajero">
      <soap12:operation soapAction="http://google.com/InsertCajero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <soap12:operation soapAction="http://google.com/InsertCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProducto">
      <soap12:operation soapAction="http://google.com/InsertProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServicio">
      <soap12:operation soapAction="http://google.com/InsertServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFactura">
      <soap12:operation soapAction="http://google.com/InsertFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFct_Prod">
      <soap12:operation soapAction="http://google.com/InsertFct_Prod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFct_Serv">
      <soap12:operation soapAction="http://google.com/InsertFct_Serv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductos">
      <soap12:operation soapAction="http://google.com/SelectProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap12:operation soapAction="http://google.com/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUsuarios">
      <soap12:operation soapAction="http://google.com/SelectUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreWebService">
    <wsdl:port name="CoreWebServiceSoap" binding="tns:CoreWebServiceSoap">
      <soap:address location="https://localhost:44311/CoreWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CoreWebServiceSoap12" binding="tns:CoreWebServiceSoap12">
      <soap12:address location="https://localhost:44311/CoreWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>